/* ***********************************Root********************************************* */
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../images/dice.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
