/* ***********************************Root********************************************* */
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../images/dice.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
/*  ***************************************************************************************************/
#words{
  margin: auto;
}
/* *************************************playFields************************************************** */
.first, .second{
  background-color: #A1C8CC  ;
  margin: 30px;
  opacity: .6;
  text-align: center;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.5);
  transition: transform 1s ease-in-out;
}
.first{
  margin-left: 70px;
}
.first:hover, .second:hover{
  background-color: #A7B9BB;
  transform: scale(1.1);
}
button{
  box-shadow: 0 1px 0 1px rgba(0,0,0,.5);
}
